* { box-sizing: border-box; } 

body, p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    height: auto;
    margin: auto;
}


.hero-content {
    height: 650px;
    margin: auto;
}

.content {
    width: 55%;
    float: left;
    padding: 80px 0;
}

.photo {
    width: 45%;
    float: left;
    padding: 80px 0;
}

.photo img {
    height: 90%;
    width: 90%;
}

.content h1 {
    font-size: 60px;
    font-family: 'Poppins';
    font-weight: 700;
}

.heading-span {
    color: #FB6B58;
}

.hero-hireme-btn {
    width: 160px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}

.hero-hireme-btn a {
    height: 45px;
    display: block;
    padding: 10px 20px 0px 20px;
    background-image: linear-gradient(45deg, #FB6B58, #FFA132);
    color: white;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
}

.hero-hireme-btn a:hover {
    background-image: linear-gradient(45deg, #FFA132, #FB6B58);
}

.text-normal {
    font-family: 'Poppins';
    font-weight: 400 !important;
}

.second-section {
    height: 550px;
    margin: auto;
}

.left-img {
    width: 50%;
    float: left;
}

.left-img img {
    height: 80%;
    width: 80%;
}

.second-section-content {
    width: 50%;
    float: left;
    padding-top: 60px;
    font-family: 'Poppins';
}

.second-section {
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right 65%;
}

.second-section-content h2 {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.second-section-content h4 {
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}

.donwload-mycv-btn {
    width: 35%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.donwload-mycv-btn a {
    height: 45px;
    display: block;
    background-image: linear-gradient(90deg, #FB6B58, #FFA132);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 10px 20px 0px 20px;
    font-size: 16px;
}

.third-section {
    height: 500px;
    background-image: url('../images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left 35%;
    margin: 0;
}

.left-box {
    width: 47.5%;
    height: 350px;
    float: left;
    margin-right: 2.5%;
    padding: 40px 30px;
    border-left: 7px solid #FFA132 !important;
    border: 1px solid #FFA132;
    border-radius: 20px;
    box-shadow: 8px 15px 20px #C2C2C2;
}

.left-box h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.left-box h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}

.right-box {
    width: 47.5%;
    height: 350px;
    float: left;
    margin-left: 2.5%;
    padding: 40px 30px;
    border-left: 7px solid #FB6B58 !important;
    border: 1px solid #FB6B58;
    border-radius: 20px;
    box-shadow: 8px 15px 20px #C2C2C2;
}

.right-box h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.right-box h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}

.footer-copyright {
    font-weight: 400;
    font-size: 17px;
    color: #747474;
    text-align: center;
}